.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

/* margin */
.mt-m5px {
  margin-top: -5px !important;
}

.ml-5px {
  margin-left: 5px !important;
}

.ml-10px {
  margin-left: 10px !important;
}

/* padding */
.pt-10px {
  padding-top: 10px;
}

.pb-10px {
  padding-bottom: 10px;
}

/* display */
.dp-inblock {
  display: inline-block;
}

.text-right {
  text-align: right;
}

/* width percent */
.width-45 {
  width: 45% !important;
}

.width-10 {
  width: 10% !important;
}

/* 검색조건 */

.search-container {
  .title {
    color: #495057;
  }

  .search-box {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px rgba(238, 234, 234, 0.9);
    padding: 25px;
    border-width: 0;
    transition: all 0.2s;
    .label {
      line-height: 2.9em;
    }

    .search-input,
    .search-selectbox,
    .search-checkbox,
    .search-radio {
      line-height: 2em;
    }

    .form-check-input {
      margin-top: 1em;
    }
  }

  .search-button {
    color: #fff;
  }
}

/* form */
.form {
  background-color: #fff;
  padding: 2em;
  border-radius: 8px;
}

/* errors */
.error {
  border-color: #dc3545;
}
