/********* color *********/
$gray: #eee;

/********* tab-color *********/
$tab-bg: #fff;
$tab-bg-active: #0d6efd;
$tab-txt: #0d6efd;
$tab-txt-active: #fff;

/********* tab-contents-color *********/
$tab-contents-bg: #fff;
